
*{
    box-sizing: border-box;
}
.col-1{
    float:left;
    width:70%;
    border: 1px #000;
    background-color: #cccccc;
    text-align:justify;
    padding-left: .4px;
}

.col-2{
    float:left;
    width:30%;
     border: 1px #000;
     background-color: #cccccc;
}
.col-3{
    width: 60%;
    margin-top:.4px;
    
}
.left{
    height: 1038px; 
}
.right{
    
    height: 500px;
}
.table{
    color: red;
}